:root {
  --color-1: #212930;
  --color-2: #4a6070;
  --color-3: #5d8aa8;
  --color-4: #946b2d;
  --color-5: #d4af37;
  --color-light: #f0f4f8;
  --color-dark: #273642;
}

body {
  background-color: var(--color-1);
  color: var(--color-light);
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.main-content {
  padding: 20px;
  width: 100%;
  background-color: var(--color-dark);
}

.banner {
  margin-top: 15px;
  margin-left: 70px;
  margin-right: 25px;
}

.min-vh-100 {
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.banner-text {
  background: var(--color-1);
  color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(72, 0, 72, 0.15);
  position: relative;
  overflow: hidden;
}

.banner::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;
  height: 150px;
  background: var(--color-1);
  opacity: 0.15;
  z-index: 0;
}

.title {
  font-size: 26px;
  font-weight: 600;
}

.lead {
  font-size: 18px;
  color: var(--color-light);
  margin-top: 10px;
}

.map {
  margin-left: 40px;
}

.section-title {
  color: var(--color-5);
  position: relative;
  padding-bottom: 0.5rem;
  display: inline-block;
  font-size: 25px;
  font-weight: 800;
  margin-top: 5px;
  margin-left: 60px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, var(--color-4), var(--color-5));
  border-radius: 2px;
}

#main-content {
  background-color: #eba64c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carrusel {
  margin-left: 15px;
  margin-right: 15px;
}

.rank {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  margin-left: 60px;
  margin-right: 25px;
}

.btn-start {
  background-color: var(--color-4);
  color: white;
  padding: 12px 30px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.btn-start:hover {
  background-color: var(--color-5);
  transform: scale(1.05);
}

.ranking {
  background-color: var(--color-3);
}

.form-select {
  background-color: var(--color-3);
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.image-checkbox img {
  border-radius: 12px;
  min-width: 195px;
  height: 270px;
  object-fit: cover;
}

.image-checkbox1 {
  margin: 0px;
  margin-bottom: 0px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0;
}

.image-checkbox1 img {
  border-radius: 20px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
}

.rank-label {
  font-size: 16px;
  color: var(--color-4);
  font-family: "Courier New", Courier, monospace;
}

#board {
  width: 50%;
  margin-left: 70px;
}