body {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

h1 {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.boards {
  display: flex;
  margin-top: 30px;
}

.board-container {
  box-sizing: border-box;
  display: flex;
}

.board {
  display: flex;
  flex-direction: 100%;
  flex-wrap: wrap;
  align-items: center;
}

/* Estilos base para celdas */
.cell {
  aspect-ratio: 1;
  background-color: #87cefa2d;
  border: 1px solid #ffffff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.cell:hover {
  background-color: #d0ff0050 !important;
}

#player-board .ship {
  background-color: #d8a600 !important;
}

.board .cell.preview {
  background-color: rgba(255, 217, 0, 0.5) !important;
  cursor: pointer;
}

.board .cell.preview:hover {
  background-color: rgba(255, 208, 0, 0.7) !important;
}

.board .cell.preview-invalid {
  background-color: rgba(255, 0, 0, 0.5) !important;
  cursor: not-allowed;
}

.cell.hit {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 20px; /* Ajustado el tamaño de la X */
}

.cell.miss {
  font-size: 20px;
}

/* Machine, uncomment to debug */
#machine-board .ship {
  /* background-color: blue; */
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}
