<!-- Main content -->
<div class="flex-grow-1 p-3">
    <h1 class="text-center">Batalla Naval</h1>
    <div class="text-center mb-3">
      <button id="orientation-button" class="btn btn-success">Cambiar Orientación (Horizontal)</button>
      <button id="toggle-debug" class="btn btn-secondary ms-2">Modo Debug: Mostrar/Ocultar Barcos</button>
    </div>
  
    <div class="boards d-flex justify-content-around flex-wrap">
      <div class="board-container text-center">
        <h2>Jugador</h2>
        <div id="player-board" class="board mx-auto"></div>
      </div>
      <div class="board-container text-center">
        <h2>Máquina</h2>
        <div id="machine-board" class="board mx-auto"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <img width="400 px" src="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@main/NBAI/ships/svg/ships-military-v1.0/ship9-115.svg" alt="Aircraft Carrier" class="img-fluid">
        </div>
        <div class="col">
          <img width="120 px" src="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@main/NBAI/ships/svg/ships-military-v1.0/ship4-475.svg" alt="Battleship" class="img-fluid">
        </div>
        <div class="col">
          <img width="120 px" src="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@main/NBAI/ships/svg/ships-military-v1.0/ship1-35.svg" alt="Cruiser" class="img-fluid">
        </div>
        <div class="col">
          <img width="120 px" src="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@main/NBAI/ships/svg/ships-military-v1.0/ship1-35.svg" alt="Cruiser" class="img-fluid">
        </div>
        <div class="col">
          <img width="120 px" src="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@main/NBAI/ships/svg/ships-military-v1.0/ship5-submarine.svg" alt="Submarine" class="img-fluid">
        </div>
        <div class="col">
          <img width="120 px" src="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@main/NBAI/ships/svg/ships-military-v1.0/ship5-submarine.svg" alt="Submarine" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <script defer src="../controllers/Map.controller.js"></script>
  