<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tutosrive/legendary-guacamole@main/css/from-prog2/v2/styles-v1.1.css" />
<form class="form-user">
  <fieldset>
    <div id="row-container-user" class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mx-1 my-0">
      <!-- Name -->
      <div class="col">
        <div class="form-group">
          <label for="name" class="form-label my-0">Full Name</label>
          <input type="text" placeholder="Enter your full name" name="name" id="name-user" class="form-control" disabled required />
        </div>
      </div>
      <!-- nickname -->
      <div class="col">
        <div class="form-group">
          <label for="nickname" class="form-label my-0">Nick Name</label>
          <input type="text" placeholder="Enter your nickname" name="nickname" id="nickname-user" class="form-control" disabled required />
        </div>
      </div>
      <!-- Country -->
      <div class="col">
        <div class="form-group">
          <label for="name" class="form-label my-0">Country</label>
          <select name="name" class="form-control" id="country-select-user" required disabled>
            <option value="">Select a country</option>
          </select>
        </div>
      </div>
      <!-- City -->
      <div class="col">
        <div class="form-group">
          <label for="name" class="form-label my-0">City</label>
          <select name="name" class="form-control" id="city-select-user" disabled required>
            <option value="">Select a city</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>
</form>
